# Rename update with feeder specific data and rename to .env

# Common
FEEDER_ALT_FT=1257
FEEDER_ALT_M=383
FEEDER_LAT=10.0002
FEEDER_LONG=-80.0000
FEEDER_TZ=America/Chicago
FEEDER_NAME=Moses-Boat
ADSB_SDR_SERIAL=1090
ADSB_SDR_PPM=1
ULTRAFEEDER_UUID=00000000-0000-0000-0000-000000000000
FEEDER_HEYWHATSTHAT_ID=NN3NNNN1
FEEDER_HEYWHATSTHAT_ALTS=3000,12000

# ADSBX
ADSBX_UUID=12345678-a123-4567-abcd-ab123456789a
ADSBX_SITENAME=your_site_name

# PIAWARE
PIAWARE_FEEDER_ID=12345678-a123-4567-abcd-ab123456789a

# FR24
FR24_SHARING_KEY=1234567890123456
FR24_RADAR_ID=T-FRA7

# ADSBHUB
ADSBHUB_STATION_KEY='some secret key'
